# Systemowe pliki
.DS_Store
Thumbs.db

# Pliki generowane przez Unity, nie dodawaj do repozytorium!
Library/
Logs/
Temp/
obj/
Build/
Builds/
UserSettings/

# Pliki IDE
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Pliki Unity Asset Store
Assets/AssetStoreTools*

# Unity Collaborate
.collabignore

# Pliki generowane przez pakiety Unity
Packages/*.package.json
